@import url('https://fonts.cdnfonts.com/css/bebas-neue');
@import url('https://fonts.cdnfonts.com/css/5x5-dots');

body {
    margin: 0;
    min-height: 100vh;
    background:
        linear-gradient(to right, #303920, transparent 8%, transparent 92%, #303920),
        radial-gradient(circle, #1A1A19 50%, #121212 80%);
    background-blend-mode: screen;
}

.mr-s {
    margin: 5rem 6rem;
}

.h-sp,
.sp-v,
.lc {
    font-family: '5x5 Dots', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.h-sp {
    margin-left: 2rem;
    color: #ffffff;
}

.sp-v {
    color: #859F3D;
}

.sp-m {
    margin: 7rem 0 0;
    display: flex;
    justify-content: space-between;
}

.sponsors {
    display: flex;
    gap: 7rem;
    justify-content: space-between;
}

.left-c,
.right-c {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sp-co {
    background: linear-gradient(0deg, #393939 0%, #393939 100%), linear-gradient(0deg, #393939 0%, #393939 100%), #393939;
    border-radius: 24px;
    display: flex;
    padding: 0.5rem;
    width: 280px;
    height: 150px;
    box-shadow: 0px 4px 62px 0px rgba(133, 159, 61, 0.38);
    justify-content: center;
    align-items: center;
}

.infos {
    margin: 14rem 0 0;
}

.flex-c {
    display: flex;
    width: fit-content;
    gap: 20rem;
    justify-content: space-between;
}

.lc {
    color: #ffffff;
    text-transform: capitalize;
}

.g-map,
.esi-n {
    width: fit-content;
}

.esi-n {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin: 1rem 5rem 2rem;
}

.esi-a {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 35px;
    font-weight: 700;
    word-spacing: 10px;
    margin: 0;
    text-transform: uppercase;
    color: #F6FCDF;
}

.svgw {
    line-height: 28px;
}

.text-ft {
    align-content: center;
    text-align: center;
}

.map {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 2rem 0;
    width: fit-content;
    border-radius: 19px 19px 6px 6px;
    background: #292928;
}

.follow {
    font-size: 40px;
    margin: 3rem 0;
    color: #859F3D;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
}

.sc-m {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    gap: 2rem;
}

.s-svg:hover {
    cursor: pointer;
    fill: #859F3D;
}

.cs-in {
    font-size: 30px;
    text-transform: lowercase;
    font-family: 'Bebas Neue', sans-serif;
    color: #ffffff;
    font-weight: 700;
}

.sp {
    margin-bottom: 2rem;
}

footer {
    background: #292928;
    text-align: center;
    padding: 2rem 0;
}

.ft-text {
    color: rgba(246, 252, 223, 0.39);
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}