@import url('https://fonts.cdnfonts.com/css/bebas-neue');
@import url('https://fonts.cdnfonts.com/css/5x5-dots');

body {
    /*Fullviewportheight*/
    margin: 0;
    min-height: 100vh;
    background:
        linear-gradient(to right, #3c4829a0, transparent 8%, transparent 92%, #3c4829a0),
        radial-gradient(circle, #1A1A19 50%, #121212 80%);
    background-blend-mode: screen;
    /* Blend the linear and radial gradients */
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 43px;
    background: #292928;
    width: 900px;
    margin: 0 auto;
    border-radius: 15px;
    margin: 8rem;
    height: 30px;
    margin-top: 30px;
    
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 30px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: color 0.3s ease;
    font-size: 20px;
  }
  
  nav a:hover {
    color: #567526;
  }
  
  .btn1 {
    color: #FFF;
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  border-radius: 16px;
  background: #859F3D;
  height: 45px;
  width: 124px;
  border: none;
  font-size: 20px;
  
  }
  
  .btn1:hover {
    color: white;
  }
  .page1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 9rem;
  
  }
  .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  
  .text1{
    color: #FFF;
    font-family: "Bebas Neue", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 129.558%; 
    width: 552px;
    height: 200px;
  
  }
  .logo{
    background-image: url('cse1.png');
    height: 350px ;
    width: 350px;
    background-size: cover;
  }
  .challenge{
    height: 150px;
  }
  .page2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
  
  }
  
  .circles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    height: 1px;
    width: 740px;
  }
  
  .circle1{
    background-image: url(Group\ 2\ \(2\).png);
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    background-size: cover;
    position: relative;
  }
  .circle2{
    background-image: url(Group\ 2\ \(1\).png);
    width: 200px;
  height: 200px;
  flex-shrink: 0;
    background-size: cover;
    position: relative;
  
  }
  .circle3{
    background-image: url(Group\ 2.png);
    width: 200px;
  height: 200px;
  flex-shrink: 0;
    background-size: cover;
    position: relative;
  }
  .title2{
    height: 250px;
    width: 300px;
    align-items: center;
  
  }
  .white{
    color: #FFF;
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
  .NOW{
    color: #859F3D;
  font-family: "Bebas Neue";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
  .text3{
    color: #FFF;
  font-family: "Bebas Neue";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  right: 18mm;
  top: 12mm;
  }
  .text4{
    color: #FFF;
  font-family: "Bebas Neue";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  right: 14mm;
  top: 12mm;
  }
  .page3{
    height: 1000px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex start;
    position: relative;
    
  }
  .title3{
    transform: scale(0.9); /* Réduit à 80% de la taille originale */
    position: absolute;
    top: 170px;
    margin: 6rem;
    
  
  }
  
  .vid-para{
    height: 300px;
    width: 1150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  
  
  }
  .green{
    color: #859F3D;
  font-family: "Bebas Neue";
  font-size: 16.800px;
  font-style: normal;
  font-weight: 400;
  line-height: 151.23%; /* 34.999px */
  letter-spacing: 0.926px;
  }
  .paragraph{
    color: #FFF;
  font-family: "Bebas Neue", sans-serif;
  font-size: 16.800px;
  font-style: normal;
  font-weight: 400;
  line-height: 151.23%;
  letter-spacing: 0.926px;
  
  
  
  }
  .video{
    margin: 7rem;
    transform: scale(0.85);
    position: relative;
  
  }
  .video2{
    width: 474.586px;
  height: 280.607px;
  flex-shrink: 0;
  border-radius: 41.464px;
  background: #393939;
  position: absolute;
  top: -27px;
  left: -10px;
  }
  .play{
    position: absolute;
    top: 40%;
    left: 40%;
  }
  
  
 /*************************************************************************************/ 
 .role_section{
    padding: 0;
    font-family:'bebas-neue', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -200px; 
  }
  
  
  .container {
    width: 80%;
    max-width: 1000px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
  }
  
  .title {
    font-size: 3rem;
    margin-bottom: 100px;
    color: #ffffff; 
    font-family: '5x5 Dots';
    text-align: left;
    width: 100%; 
    margin-left: -50px; 
    padding-left: 0px; 
  }
  
  .title span {
    color: #859F3D; /* Le mot "Roles" est en vert */
  }
  
  .roles {
    display: grid;
    grid-template-columns: 365px 365px;
    column-gap: 150px;
    row-gap: 300px;
    width: 100%;
    max-width: 800px;
   /* margin: auto;*/
   margin-right: -20px;
    
    position: relative;
  }
  
  .role {
    background-color: rgba(33, 33, 43, 0.50);
    border: 1.577px solid #859F3D;
    padding: 15px;
    border-radius: 20.496px;
    position: relative;
    box-shadow: 0px 6.307px 62.435px 0px rgba(133, 159, 61, 0.38);
    width: 300px;
    height: 150px;
    text-align: left;
    
  }
  
  .role h3 {
    font-size: 1.4rem;
    font-family:'bebas-neue', sans-serif;
    margin-bottom: 10px;
    color: #ffffff; /* Titre des rôles en blanc */
  }
  
  .role p {
    color: #9C9C9C;
    font-family: "Bebas Neue";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
  
  /* Connecteurs */
  .connector-vertical {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
  }
  
  .connector-vertical.bottom {
    bottom: 50%;
    left: 50%;
    transform: translate(165%, 90%);
    background-image: url('icon_attac.png');
    width: 95px;;
    height: 178px;
  }
  
  .connector-vertical.left {
    top: 50%;
    left: 50%;
    transform: translate(-265%, -10%);
    background-image: url('icon_deffender.png');
    width: 95px;;
    height: 178px;
  }
  
  .connector-vertical.top {
    top: 50%;
    left: 50%;
    transform: translate(165%, -120%);
    background-image: url('icon_mid.png');
    width: 95px;;
    height: 178px;
  }
  
  .connector-vertical.right {
    top: 50%;
    right: 50%;
    transform: translate(-165%, -120%);
    background-image: url('icon_joker.png');
     width: 95px;;
    height: 178px;
  }
  
  .connector-horizontal {
    display: none;
  }
  
  .roles::before {
    content: none;
    display: none;
  }
    /*******************************************************agenda**********************************/
    .agenda1 {

        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin: 10rem 7rem 10rem 7rem;
    }
    
    .agend-title {
    
        text-align: center;
    }
    
    .title-ag {
        color: #859F3D;
        text-align: center;
        font-family: '5x5 Dots', sans-serif;
        font-size: 45px;
        font-style: normal;
        text-transform: capitalize;
        font-weight: 400;
        line-height: normal;
    }
    
    .days {
        display: flex;
        align-items: center;
        gap: 7rem;
        justify-content: center;
    }
    
    .day1,
    .day2 {
        cursor: pointer;
        padding: 1.3rem 3rem;
        text-align: center;
        display: flex;
        justify-content: center;
        border-radius: 20px;
    
    }
    
    .day1 {
        color: #ffffff;
        background: #444;
    }
    
    .day2 {
        color: #484848;
        background-color: #44444453;
    
    }
    
    .d-1,
    .d-2 {
    
        font-family: 'Bebas Neue', sans-serif;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        text-transform: capitalize;
        margin: 5px 1px 1px 1px;
    }
    
    
    .days-content {
        background: #1a1a1947;
        font-family: 'Bebas Neue', sans-serif;
        margin: 2rem;
        border-radius: 26px;
        border: 1px solid #859F3D;
        box-shadow: 1px 5px 30.3px -6px #31511E;
    }
    
    
    .dp-c {
        padding: 3rem;
    }
    
    .content {
        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-direction: column;
        align-items: center;
    }
    
    .c-c {
        text-align: center;
    }
    
    .c-title {
        font-size: 45px;
        margin: 10px 0;
        color: #859F3D;
        text-transform: uppercase;
    }
    
    .time {
        color: rgba(249, 253, 231, 0.39);
        font-weight: 550;
        text-transform: uppercase;
    }
    
    .con-des {
        margin: 0;
        line-height: 35px;
        color: white;
        font-weight: 600;
        font-size: 40px;
        text-transform: uppercase;
    }
    
    .h-sp {
        color: #fffffe;
    }
    
    .d2-co {
        color: #ffffff;
        display: none;
    }
    /********************************************caroussel**************************/
    .carousel-section{

        font-family: 'bebas-neue',sans-serif;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
       
      }
      
      .container {
        text-align: center;
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
      }
      
      h1 {
        font-size: 2rem;
        font-family: '5x5 Dots'; /* Utilisation de la police spéciale */
        margin-bottom: 200px;
        color: #FFF;
        color:#859f3d; 
        text-align: left;
        margin-left: -500px;
        padding-left: 0px; 
      }
      h1 span {
        color: #fff; 
      }
      
      
      .carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 80px;
      }
      
      .card {
        
        position: relative;
        background:#343434;; /* Fond gris très sombre */
        border-radius: 22px;
        width: 300px;
        height: 350px;
        padding: 20px;
        text-align: center;
        box-shadow: 0 0 20px rgb(33, 44, 26); /* Ombre verte lime */
        opacity: 0.6;
        transition: opacity 0.3s ease, transform 0.3s ease;
        
      }
      
      .card.active {
        opacity: 1;
        transform: scale(1.1) translateY(-80px);
       box-shadow: 0px 4px 63.3px 23px rgba(49, 81, 30, 0.50);
      }
      
      
      .card img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin-bottom: 20px;
        margin-top: -40px;
      }
      
      .card h2 {
        font-size: 1.5rem;
        margin-bottom: 50px;
        color: #F6FCDF; 
      
      }
      
      .card p {
        font-size: 0.9rem;
        line-height: 1.4;
        color: #ffffff; 
        margin-bottom: 20px;
      }
      .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 2rem;
        color: #ffffff; 
        cursor: pointer;
        user-select: none;
        padding: 10px;
      }
      
      .arrow.left {
        left: 365px;
        bottom: 1000px;
      }
      
      .arrow.right {
        right: 365px;
        bottom: 1000px;
      }
      

      .mr-s {
        margin: 5rem 6rem;
    }
    
    .h-sp,
    .sp-v,
    .lc {
        font-family: '5x5 Dots', sans-serif;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .h-sp {
        margin-left: 2rem;
        color: #ffffff;
    }
    
    .sp-v {
        color: #859F3D;
    }
    
    .sp-m {
        margin: 7rem 0 0;
        display: flex;
        justify-content: space-between;
    }
    
    .sponsors {
        display: flex;
        gap: 7rem;
        justify-content: space-between;
    }
    
    .left-c,
    .right-c {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .sp-co {
        background: linear-gradient(0deg, #393939 0%, #393939 100%), linear-gradient(0deg, #393939 0%, #393939 100%), #393939;
        border-radius: 24px;
        display: flex;
        padding: 0.5rem;
        width: 280px;
        height: 150px;
        box-shadow: 0px 4px 62px 0px rgba(133, 159, 61, 0.38);
        justify-content: center;
        align-items: center;
    }
    
    .infos {
        margin: 14rem 0 0;
    }
    
    .flex-c {
        display: flex;
        width: fit-content;
        gap: 20rem;
        justify-content: space-between;
    }
    
    .lc {
        color: #ffffff;
        text-transform: capitalize;
    }
    
    .g-map,
    .esi-n {
        width: fit-content;
    }
    
    .esi-n {
        display: flex;
        justify-content: space-around;
        gap: 1rem;
        margin: 1rem 5rem 2rem;
    }
    
    .esi-a {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 35px;
        font-weight: 700;
        word-spacing: 10px;
        margin: 0;
        text-transform: uppercase;
        color: #F6FCDF;
    }
    
    .svgw {
        line-height: 28px;
    }
    
    .text-ft {
        align-content: center;
        text-align: center;
    }
    
    .map {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin: 2rem 0;
        width: fit-content;
        border-radius: 19px 19px 6px 6px;
        background: #292928;
    }
    
    .follow {
        font-size: 40px;
        margin: 3rem 0;
        color: #859F3D;
        text-transform: uppercase;
        font-family: 'Bebas Neue', sans-serif;
    }
    
    .sc-m {
        display: flex;
        justify-content: space-between;
        width: fit-content;
        gap: 2rem;
    }
    
    .s-svg:hover {
        cursor: pointer;
        fill: #859F3D;
    }
    
    .cs-in {
        font-size: 30px;
        text-transform: lowercase;
        font-family: 'Bebas Neue', sans-serif;
        color: #ffffff;
        font-weight: 700;
    }
    
    .sp {
        margin-bottom: 2rem;
    }
    
    footer {
        background: #292928;
        text-align: center;
        padding: 2rem 0;
    }
    
    .ft-text {
        color: rgba(246, 252, 223, 0.39);
        font-family: Inter, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }